<html>

<head>
<h4>Post details </h4>
</head>


<body>
 <h2>
 <% @row.each do |post| %>
	<br/>
	<p>
		<%= post['content'] %>
		<br/>
		added at:<%= post['created_date'] %>
	</p>
	
	

	<br/>

<% end %>
</h2>
</body>

</html>