<html>

<head>

<h2> Add New post </h2>
<p2> New posts will be there </p2>

</head>

<body>

<form>
<br/>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Лепра ждет новый пост!</label>
  
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
  </div>
  <br/>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>



</html>