<html>

<head>

<h2> Add New post </h2>


</head>

<body>
<br/>


<p class="bd-lead"><%= @content %></p>



<form action = "/new" method = "Post" role = "form">
<br/>
<textarea name = "content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder = "Введите свой текст" style = "width: 500px" ></textarea>
<br/>

 <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>



</html>